# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.DS_Store
install.log
backend.log
coverage.xml
*.coverage
htmlcov/
build/
dist/
*.egg-info/

# Node
node_modules/
npm-debug.log
yarn-error.log
.next/
out/
.vercel/
